body {
  background-color: #FFFFF8;
  width: 75%;
  margin: auto;
  margin-top: 3em;
  font-size: 1.2em;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: "Crimson Pro", serif;

    }

.l-box {
  padding: 1em;

}
p {
  font-size: 1em;
}

ul {
  font-size: 0.8em;
}

ol {
  font-size: 0.8em;
}

#title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: "Crimson Pro", sans-serif;
}

#ip {
  font-size: 1.2em;
  font-family: "Source Code Pro";
  text-align: center;
}

#greysecnum {
  padding-right:0.2em;
  font-weight: 600;
  color: crimson;
}

h2 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.2em;
}
